{% extends 'base.html' %}


{% block title %}Projects{% endblock %}




{% block content %}

<div class="mb-12 text-3xl text-center">Projects Page</div>

<form class="align-center justify-center center-align flex">
    <div>
        <h1>Simple Text Generator based on CHAT GPT !!!!</h1>
        <br>
        <hr class="py-1 rounded-4xl bg-green-500">
        <br>
        <input class="outline-none bg-green-100 px-12 py-4 rounded-2xl text-black text-2xl font-bold font-mono" placeholder="Enter some prompts here...">
        <button class="px-12"><i class="fa-solid fa-paper-plane-top"></i>Submit</button>
    </div>
</form>

{% endblock %}