{% extends 'base.html' %}

{% load static %}

{% block content %}
<div>
    <img src="{% static 'images.jpg' %}" alt="background" class="rounded-2xl max-w-full h-auto">
        <h1 class="absolute text-2xl text-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 justify-between text-center rounded-3xl bg-green-700 text-white font-bold px-12 py-6">Hello, I am Enea and i am a software engineer!</h1>
</div>

<div class="justify-center text-center mt-20">
    <hr class="w-72 bg-green-700 py-1 px-70 rounded-7xl w-48 h-1 mx-auto my-4 bg-green-100 border-0 rounded md:my-10">
    <h1 class="font-bold text-4xl">Do you want to have a look at some of my project ?</h1>
    <hr class="reverse w-72 bg-green-700 py-1 px-70 rounded-7xl w-48 h-1 mx-auto my-4 bg-green-100 border-0 rounded md:my-10">
</div>

<div>
    
</div>

{% endblock %}